body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
  }
  
  .card {
    background-color: #FFA500;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .card:hover {
    background-color: #007BFF;
    cursor: pointer;
    transform: translateY(-5px);
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #007BFF;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #007BFF;
  }
  
  p {
    margin-bottom: 5px;
  }
  
  ul {
    margin-bottom: 10px;
  }
  
  a {
    color: #007BFF;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  